<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.soilproject">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.OnionActivity"
            android:theme="@style/ActivitiesTheme" ></activity>
        <activity android:name=".activities.CabbageActivity"
            android:theme="@style/ActivitiesTheme" ></activity>
        <activity android:name=".activities.CarrotActivity"
            android:theme="@style/ActivitiesTheme" ></activity>
        <activity android:name=".activities.PototoeActivity"
            android:theme="@style/ActivitiesTheme" >

        </activity>
        <activity android:name=".activities.MaizeActivity"
            android:theme="@style/ActivitiesTheme" >

        </activity>
        <activity
            android:name=".activities.PestActivity"
            android:theme="@style/ActivitiesTheme" />
        <activity
            android:name=".activities.Register"
            android:theme="@style/ActivitiesTheme" />
        <activity
            android:name=".activities.LogIn"
            android:theme="@style/ActivitiesTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.UploadImage"
            android:theme="@style/ActivitiesTheme" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/ActivitiesTheme" />
    </application>

</manifest>